/* Add this to your CSS file */
.slick-slide > div {
    margin: 0 10px; /* Adjust the value to control the gap size */
  }
  
  .slick-list {
    margin: 0 -8px; /* Negative margin to counteract the slide margin */
  }
  

  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

#preload-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOut 3s infinite;
}

#preload-logo img {
    width: 200px; /* Adjust size as needed */
}
